<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./dep.js"></script>
  <script src="./watcher.js"></script>
  <script src="./observer.js"></script>
  <script src="compiler.js"></script>
  <script src="./vue.js"></script>
</head>
<body>
  <div id="app">
    <h3>{{msg}}</h3>
    <h3>{{count}}</h3>
    <div v-text="msg"></div>
    <h2>v-model</h2>
    <input type="text" v-model="msg">
    <input type="text" v-model="count">
  </div>
  <script>
    let vm = new Vue({
      el:'#app',
      data:{
        msg:'hello vue',
        count:100,
        obj:{name:'ha'}
      }
    })
  </script>
</body>
</html>